<p>Hello {{fullname}},

<p>Click on <a href="{{url}}">this link</a> to reset your password.</p>

<p>
If the link doesn't works, copy and paste this url in a browser :
<a href="{{url}}">{{url}}</a>
</p>

<p>
The link is only available for <b>{{duration}} minutes</b>. 
You'll need to re-ask if you wait too long.
</p>
